* {
  box-sizing: border-box;
}

.container {
  /*background-color: rgba(0, 0, 0, 0.8);
  color: #fff;*/
  border-radius: 7px;
  border: 1px solid black;
  max-width: 550px;
  margin: 20px auto;
  padding: 20px;
}

h3 {
  font-size: 26px;
  margin-bottom: 40px;
}

.js-info {
  display: flex;
  justify-content: space-between;
}

.user-msg {
  padding-right: 40px;
  font-size: 20px;
}

.js-results-display li {
  list-style: none;
}

.js-question-bin {
  padding: 35px 15px;
  text-align: center;
}

.js-choice-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.js-choice-list li {
  padding: 30px;
  margin-top: 5px;
  list-style: none;
  width: 49%;
  border: 1px solid black;
}

.btn-container {
  width: 59%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px auto;
}

.js-btn-next-question {
  padding: 10px 35px;
}

.js-btn-new-game {
  padding: 10px 40px;
}
